Blog-Workflow-DIFY.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: NMSU Gen AI - Blog Workflow - Week 3
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.0.15@5f610705111ac49d93c4ea5eaac690abaeb3b4a87599c48e5165b549b4c47f10
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1744682054557-source-1744682073793-target
      selected: false
      source: '1744682054557'
      sourceHandle: source
      target: '1744682073793'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1744682073793-source-1744682167091-target
      selected: false
      source: '1744682073793'
      sourceHandle: source
      target: '1744682167091'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1744682167091-source-1744682683016-target
      selected: false
      source: '1744682167091'
      sourceHandle: source
      target: '1744682683016'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: What’s the topic or idea you want to write about?
        selected: false
        title: Start
        type: start
        variables:
        - label: topic
          max_length: 10000
          options: []
          required: true
          type: paragraph
          variable: topic
        - label: ICP
          max_length: 4800
          options: []
          required: true
          type: paragraph
          variable: ICP
        - label: brand_voice
          max_length: 4800
          options: []
          required: true
          type: paragraph
          variable: brand_voice
      height: 185
      id: '1744682054557'
      position:
        x: 6.980032993483746
        y: 282
      positionAbsolute:
        x: 6.980032993483746
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: 4693d99d-4b9c-4707-b820-3303ac250b64
          role: system
          text: "You are a content marketer and blog writer.\n\nCreate a blog outline\
            \ targeting {{#1744682054557.ICP#}} on {{#1744682054557.topic#}}. \n\n\
            Format: intro, 3 sections, CTA."
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1744682073793'
      position:
        x: 379.61195764383433
        y: 282
      positionAbsolute:
        x: 379.61195764383433
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: 65bebf3b-e020-4721-aa9a-0241538e57d2
          role: system
          text: 'Write the full blog article using this outline:


            ```

            {{#1744682073793.text#}}

            ```


            Use a tone that matches this brand voice:

            {{#1744682054557.brand_voice#}}.'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1744682167091'
      position:
        x: 671.9861454500681
        y: 282
      positionAbsolute:
        x: 671.9861454500681
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1744682167091'
          - text
          variable: blog
        selected: false
        title: End
        type: end
      height: 89
      id: '1744682683016'
      position:
        x: 1010.9674676681948
        y: 282
      positionAbsolute:
        x: 1010.9674676681948
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 150.26975083632095
      y: 4.049215555100275
      zoom: 0.6369858956547795
